<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Seite nicht gefunden</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 2em;
            color: #cc0000;
        }

        p {
            font-size: 1.2em;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="https://i.ibb.co/hXnSXjj/shutterstock-774749455-removebg-preview.png" alt="Error 404">
    <h1>Error 404 - {{ error_404_title }}</h1>
    <p>{{ error_404_description }}</p>
</body>
</html>
